<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About TA</title>
      <link href="static/style.css" rel="stylesheet">
      <style>
        
      </style>
    </head>
    <body>
   <!-- Navbar -->
    {% include 'nav.html' %}
      <div class="container" style="padding-top: 100px"></div>
      <div class="container-md container-fluid mt-2">
        <h1 class="text-center" style="font-size: 5rem">Musik itu Penting!</h1>
        <div class="row mb-5">
          <div class="col-3">
            <i class="fa-solid fa-masks-theater"></i>
          </div>
          <div class="col-3">
            
          </div>
          <div class="col-3">
            
          </div>
          <div class="col-3">
            
          </div>
        </div>
        <div class="border-bottom row">
          <div class="col-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-5">
            <img src="static/img/gamelan.jpg" class="img-fluid" style="max-height:320px;border-radius:4px;">
          </div>
        </div>
        
        <div class="border-bottom row">
          <div class="col-5">
            <img src="static/img/gamelan.jpg" class="img-fluid" style="max-height:320px;border-radius:4px;">
          </div>
          <div class="col-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        
        <div class="border-bottom row" >
          <div class="col-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-5">
            <img src="static/img/gamelan.jpg" class="img-fluid" style="max-height:320px;border-radius:4px;">
          </div>
        </div>
        
      </div>
      <script src="https://kit.fontawesome.com/6b351aabda.js" crossorigin="anonymous"></script>
    </body>
  </html>