<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How the Model Works</title>
    <link href="static/style.css" rel="stylesheet">
    <script type="module" src="../static/3dmodel.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
  </head>
  <body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <main>
      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis" style="font-size: 5rem">How it Works?</h1>
            <p class="col-lg-8 mx-auto lead">
              We used a combination of K-Means Clustering and Support Vector Machines to accurately predict the traditional musical instruments within the recording.
            </p>
          </div>
          
        </div>
      </div>
      <div>
        
      </div>
    </main>
  </body>
</html>
  